/* App.css */

html{
  top:0px;
}

.app-container {
  min-height: 100vh;
  transition: background 0.5s ease-in-out; /* Smooth transition */
}

/* Example background themes */
.bg-default {
  background: linear-gradient(to right, #e0eafc, #b0df06);
}

.bg-attendance {
  background: linear-gradient(to right, #56ab2f, #1773c9);
}

.bg-grades {
  background: linear-gradient(to right, #6a11cb, #e4d509);
}

.bg-financial {
  background: linear-gradient(to right, #ff9966, #e9da11);
}

.bg-parent {
  background: linear-gradient(to right, #f7971e, #00fff2);
}

.bg-admin {
  background: linear-gradient(to right, #e60a53, #72f00c);
}
